@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../node_modules/material-icons/iconfont/material-icons.css';

:root {
  --primary: #029AE0;
  --primary-100: #073044;
  --primary-200: #415A66;
  --primary-300: #017CB3;
  --primary-400: #50B6E6;
  --background: #202124;
  --background-100: #26282b;
  --background-200: #3b3c3f;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-base: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-2xl: 20px;
  --font-3xl: 22px;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--font-base);
}

#app {
  height: 100vh;
  background-color: var(--background);
  color: #fff;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-16 {
  font-size: 16px;
}


/* General Styles */

h2 {
  font-size: var(--font-3xl)
}

h3 {
  font-size: var(--font-2xl)
}

h4 {
  font-size: var(--font-xl)
}

h5 {
  font-size: var(--font-lg)
}

button {
  padding: 8px 15px;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  background-color: var(--primary);
  color: white;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

button:hover {
  background-color: var(--primary-400);
}

span:hover {
  cursor: pointer;
  background-color: #029AE0;
  border-radius: 100px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Sidebar styles */

#sidebar {
  background-color: var(--background-100);
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#company-logo {
	height: 65px;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#nav-buttons li {
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#nav-buttons li:hover {
  background-color: var(--primary);
}

/* Content styles */

header {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  background-color: var(--background-100);
  border-radius: 8px;
  cursor: pointer;
}

.project-card:hover {
  outline: 2px solid var(--primary);
}

.card-header {
  display: flex;
  column-gap: 20px;
  padding: 15px 20px;
  align-items: center; 
  justify-content: start;
  border-bottom: 2px solid #3b3c3f;
}

.card-content {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.card-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#projects-list {
  display: grid;
  padding: 20px 40px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.action-icon {
  color: darkgray;
  border-radius: 100%;
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
}

.action-icon:hover {
  color: white;
  background-color: var(--primary);
}

/* Form Styles */

dialog {
  background-color: transparent; 
  border: none;
	margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

form {
  width: 450px; 
  border-radius: 10px; 
  background-color: var(--background-100);
  color: white;
}

form h2 {
  padding: 20px; 
  border-bottom: 2px solid var(--background-200);
}

form .input-list {
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  row-gap: 25px;
}

form .form-field-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: var(--font-base);
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(150,150,150,1);
  display: flex;
  align-items: center;
  column-gap: 5px;
}

input, textarea, select {
  color: white; 
	background-color: var(--background-200);
  padding: 15px; 
  border-radius: 8px; 
  border: none;
  font-size: var(--font-base);
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid var(--primary);
}

/* Project details page */

.dashboard-card {
  background-color: var(--background-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

#project-details > .main-page-content {
  display: grid;
  padding: 20px 40px;
  gap: 30px;
  grid-template-columns: 475px 1fr;
  height: 100%;
  position: relative;
}

#project-details .main-page-content-info-hide {
  padding: 20px 40px;
  height: 100%;
  position: relative;
}

.btn-secondary {
  background-color: transparent; 
  outline: 2px solid #969696; 
  width: 100px; 
  text-align: center;
}

.btn-secondary:hover {
  background-color: var(--primary); 
  outline: none;
}

.todo-item {
  padding: 20px;
  outline: 2px solid var(--background-200);
  border-radius: 10px;
  cursor: pointer;
}

.todo-item:hover {
  background-color: #26282b;
  outline: 2px solid var(--primary);
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
}

.todo-card-container {
  background-color: var(--background-100);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  row-gap: 20px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
}

.todo-card-container::-webkit-scrollbar {
  display: none;
}

.dashboard-card .selected {
  background-color: var(--primary);
  border-radius: 50px;
}